.App {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #d7cec7;
}

@media(max-width: 768px) {
  .App {
    align-items: center;
  }
}