.scoreBoardPage{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10vh;
}

@media(max-width: 768px) {
    .scoreBoardPage{
        padding-top: 5vh;
        height: 80vh;
    }
    
}