.buttonComponent{
    width: 40%;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Arial';
    background-color: rgba(192,159,128,0.7);
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s;
    padding: 5px;
}

.buttonComponent:hover{
    background-color: rgba(192,159,128,1);
}

@media(max-width: 768px) {
    .buttonComponent{
        width: 85%;
    }
}